<div class="ms_content_wrapper padder_top80">
    <div class="row table-body">
        <div class="table-users">
            <div class="header">Play list</div>
            <table cellspacing="0">
                <tr>
                    <th style="width: 15%;">Tên Playlist</th>
                    <th style="width: 20%;">Mô tả</th>
                    <th style="width: 15%;">Ngày tạo</th>
                    <th style="width: 15%;">Số bài hát</th>
                    <th style="width: 20%;">Lượt Nghe</th>
                    <th style="width: 15%;">Edit</th>
                </tr>
                <tr>
                    <td>Play list 1</td>
                    <td>Nhạc trẻ</td>
                    <td>20/10/2018</td>
                    <td>99</td>
                    <td>69</td>
                    <td class="text-center">
                        <button type="button" class="btn btn-danger">Remove</button>
                    </td>

                </tr>
                <tr>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td class="text-center">
                        6
                    </td>

                </tr>

            </table>
        </div>
    </div>
    <div class="btn btn-primary addHouse" data-toggle="modal" data-target="#exampleModal">
        <span></span> <i class="fa fa-plus" aria-hidden="true"></i>
    </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create List Music</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form">
                    <input type="text" class="nameList" placeholder="Name List">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Add</button>
            </div>
        </div>
    </div>
</div>