<div class="ms_content_wrapper padder_top80">
  <ngb-tabset type="pills">
    <ngb-tab>
      <ng-template ngbTabTitle><b>List Device</b></ng-template>
      <ng-template ngbTabContent>
        <div class="row table-body">
          <div class="table-users">
            <div class="header">Play list</div>
            <table cellspacing="0">
              <tr>
                <th style="width: 15%;">Name List</th>
                <th style="width: 20%;">Date created</th>
                <th style="width: 15%;">Type</th>
                <th style="width: 15%;">Nhiệm vụ</th>
                <th style="width: 20%;">Edit</th>
                <th style="width: 15%;">Delete</th>
              </tr>
              <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td class="text-center">
                  6
                </td>

              </tr>
              <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td class="text-center">
                  6
                </td>

              </tr>

            </table>
          </div>
        </div>
        <div class="btn btn-primary addHouse" data-toggle="modal" data-target="#exampleModal" >
          <span></span> <i class="fa fa-plus" aria-hidden="true"></i>
      </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab>
      <ng-template ngbTabTitle><b>List Group</b></ng-template>
      <ng-template ngbTabContent>
        <div class="row table-body">

          <div class="table-users">
            <div class="header">Play list</div>

            <table cellspacing="0">
              <tr>
                <th style="width: 15%;">Name List</th>
                <th style="width: 20%;">Date created</th>
                <th style="width: 15%;">Type</th>
                <th style="width: 15%;">Nhiệm vụ</th>
                <th style="width: 20%;">Edit</th>
                <th style="width: 15%;">Delete</th>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="text-center">

                </td>

              </tr>

            </table>
          </div>
        </div>
        <div class="btn btn-primary addHouse" data-toggle="modal" data-target="#exampleModal" >
            <span></span> <i class="fa fa-plus" aria-hidden="true"></i>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab>
      <ng-template ngbTabTitle><b>List Zone</b></ng-template>
      <ng-template ngbTabContent>
        <div class="row table-body">

          <div class="table-users">
            <div class="header">Play list</div>

            <table cellspacing="0">
              <tr>
                <th style="width: 15%;">Name List</th>
                <th style="width: 20%;">Date created</th>
                <th style="width: 15%;">Type</th>
                <th style="width: 15%;">Nhiệm vụ</th>
                <th style="width: 20%;">Edit</th>
                <th style="width: 15%;">Delete</th>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="text-center">

                </td>

              </tr>

            </table>
          </div>
        </div>
        <div class="btn btn-primary addHouse" data-toggle="modal" data-target="#exampleModal" >
            <span></span> <i class="fa fa-plus" aria-hidden="true"></i>
        </div>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>