<div class="ms_weekly_wrapper" *ngIf="!isShowIframe">
  <div class="ms_weekly_inner">
    <div class="row">
      <div class="col-lg-12">
        <div class="ms_heading">
          <h1>Danh sách nhạc</h1>
        </div>
      </div>
      <div class="row" *ngIf="!listSearch">
        <div class="ms_weekly_box col-lg-4 col-md-12" id={{i}} *ngFor="let audio of listAudio; trackBy: trackByFn; let i = index"
          (click)="playMusic(audio, i)">
          <div class="weekly_left">
            <span class="w_top_no" *ngIf="i < 9">
              0{{i + 1}}
            </span>
            <span class="w_top_no" *ngIf="i >= 9">
              {{i + 1}}
            </span>
            <div class="w_top_song">
              <div class="w_tp_song_img">
                <img src="../../../../assets/images/weekly/song1.jpg" alt="" class="img-fluid">
                <div class="ms_song_overlay">
                </div>
                <div class="ms_play_icon">
                  <img src="../../../../assets/images/svg/play.svg" alt="">
                </div>
              </div>
              <div class="w_tp_song_name">
                <h3><a>{{audio | formatNameAudio}}</a></h3>
                <p>Ava Cornish</p>
              </div>
            </div>
          </div>
          <!-- <div class="weekly_right">
            <span class="w_song_time">5:10</span>
            <span class="ms_more_icon" data-other="1">
              <img src="../../../../assets/images/svg/more.svg" alt="">
            </span>
          </div> -->
          <div class="ms_divider"></div>
        </div>
        <div class="abc" style="clear: both"></div>
      </div>
      <div class="row" style="display: contents" *ngIf="listSearch">
        <div class="ms_weekly_box col-lg-4 col-md-12" id={{i}} *ngFor="let audio of listSearch; trackBy: trackByFn; let i = index"
          (click)="playMusic(audio, i)">
          <div class="weekly_left">
            <span class="w_top_no" *ngIf="i < 9">
              0{{i + 1}}
            </span>
            <span class="w_top_no" *ngIf="i >= 9">
              {{i + 1}}
            </span>
            <div class="w_top_song">
              <div class="w_tp_song_img">
                <img src="../../../../assets/images/weekly/song1.jpg" alt="" class="img-fluid">
                <div class="ms_song_overlay">
                </div>
                <div class="ms_play_icon">
                  <img src="../../../../assets/images/svg/play.svg" alt="">
                </div>
              </div>
              <div class="w_tp_song_name">
                <h3><a>{{audio | formatNameAudio}}</a></h3>
                <p>Ava Cornish</p>
              </div>
            </div>
          </div>
          <!-- <div class="weekly_right">
            <span class="w_song_time">5:10</span>
            <span class="ms_more_icon" data-other="1">
              <img src="../../../../assets/images/svg/more.svg" alt="">
            </span>
          </div> -->
          <div class="ms_divider"></div>
        </div>
        <div class="abc" style="clear: both"></div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="isShowIframe">
  <div class="ms_weekly_inner">
    <div class="row">
      <div class="col-lg-12">
        <div class="ms_heading">
          <h1>Danh tìm từ youtube</h1>
        </div>
      </div>
    </div>
    <div class="main-youtube">
      <div class="video col-xs-12 col-sm-12 col-md-12 col-lg-12" *ngFor="let item of listVideo; let i = index">
        <div class="leftvideo" *ngIf="i < 6">
          <iframe name="youtube" allowfullscreen frameborder="0" id="youtube" src="https://www.youtube.com/embed/rynMyM9CRTY">
          </iframe>
        </div>
        <div class="right-video" *ngIf="i < 6">
          <p class="title">{{item.title}}</p>
          <span class="channel">{{item.channel}}</span>
          <p>{{item.duration}}</p>
          <ul>
            <li>{{item.countView}}</li>
            <li>{{item.timeCreate}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="play-audio">
  <!-- <p *ngFor="let audio of listAudio; trackBy: trackByFn "></p> -->
  <app-play-audio></app-play-audio>
</div>