<div class="col-xs-10 offset-xs-1 col-sm-10 offset-sm-1 col-md-6 offset-md-3 col-lg-4 offset-lg-4" style="position: relative;
height: 100vh;">
  <div class="row">
    <div class="form">
        <div class="timepicker col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="timepicker-picker">
                <div class="nhiemvu">
                    <select required (change)="changedNhiemVu($event)">
                        <option value="" hidden>Language</option>
                        <option *ngIf="isLanguage === 'vn'" selected value="vn">Tiếng Việt</option>
                        <option *ngIf="isLanguage === 'en'" selected value="en">English</option>
                        <option *ngIf="isLanguage !== 'vn'" value="vn">Tiếng Việt</option>
                        <option *ngIf="isLanguage !== 'en'" value="en">English</option>
                    </select>
                </div>
            </div>
        </div>
      <ul class="tab-group">
        <li class="tab" [ngClass]="{active: isSignUpForm && isAdmin}" (click)="changeForm('signup')">
          <a *ngIf="isAdmin" translate>SignUp</a>
        </li>
        <li class="tab" [ngClass]="{active: isLoginForm}" (click)="changeForm('login')">
          <a *ngIf="isAdmin" [ngStyle]="{'width': isAdmin === true ? '50%' : '100%' }" translate>Login</a>
        </li>
      </ul>

      <div class="tab-content">
        <div id="signup" [ngStyle]="{'display': isSignUpForm === true && isAdmin  ? 'block' : 'none'}">
          <h1 translate>SignUpforFree</h1>
          <form (ngSubmit)="register()" (keydown)="enterRegister($event)">
            <div class="top-row">
              <div class="field-wrap">
                <label [ngClass]="{active: firstName.value, highlight: firstName.value}" translate>
                  FirstName
                  <span class="req">*</span>
                </label>
                <input type="text" [formControl]="firstName" required autocomplete="off" />
              </div>

              <div class="field-wrap">
                <label [ngClass]="{active: lastName.value, highlight: lastName.value}" translate>
                  LastName
                  <span class="req">*</span>
                </label>
                <input type="text" [formControl]="lastName" required autocomplete="off" />
              </div>
            </div>
            <div class="top-row">
              <div class="field-wrap">
                <label [ngClass]="{active: phoneNumber.value, highlight: phoneNumber.value}" translate>
                  Phone
                  <span class="req">*</span>
                </label>
                <input type="text" [formControl]="phoneNumber" required autocomplete="off" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"  />
              </div>

              <div class="field-wrap">
                <label [ngClass]="{active: companyName.value, highlight: companyName.value}" translate>
                    Company
                  <span class="req">*</span>
                </label>
                <input type="text" [formControl]="companyName" required autocomplete="off" />
              </div>
            </div>
            <div class="field-wrap">
              <label [ngClass]="{active: email.value, highlight: email.value}">
                Email
                <span class="req">*</span>
              </label>
              <input type="email" [formControl]="email" required autocomplete="off" pattern="/^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/" required  />
            </div>
            <div class="field-wrap">
              <label [ngClass]="{active: password.value, highlight: password.value}" translate>
                  Password
                <span class="req">*</span>
              </label>
              <input type="password" [formControl]="password" required autocomplete="off" />
            </div>
            <button class="button button-block" type="submit" translate>Register</button>
          </form>
        </div>
        <div id="login" [ngStyle]="{'display': isLoginForm === true ? 'block' : 'none'}">
          <h1 translate>WelcomeBack</h1>
          <form (ngSubmit)="login()"  (keydown)="enterLogin($event)">
            <div class="field-wrap">
              <label translate [ngClass]="{active: email.value, highlight: email.value}">
                EmailAddress
                <span class="req">*</span>
              </label>
              <input [formControl]="email" type="email" required pattern="/^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/" required />
            </div>
            <div class="field-wrap">
              <label [ngClass]="{active: password.value, highlight: password.value}" translate>
                  Password
                <span class="req">*</span>
              </label>
              <input [formControl]="password" type="password" required />
            </div>
            <p class="forgot">
              <a (click)="changeForm('forgot')" translate>ForgotPassword</a>
            </p>
            <p class="forgot">
              <a (click)="changeForm('active')" translate>ActivateAccount</a>
            </p>
            <button class="button button-block" type="submit" translate>Login</button>
          </form>
        </div>




        <div id="login" [ngStyle]="{'display': isForgot && isAdmin === true ? 'block' : 'none'}">
          <h1 translate>ForgotPassword</h1>
          <form (ngSubmit)="forgot_Password()">
            <div class="field-wrap">
              <label translate [ngClass]="{active: email.value, highlight: email.value}">
                  EmailAddress
                <span class="req">*</span>
              </label>
              <input [formControl]="email" type="email" required  pattern="/^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/" required />
            </div>
            <button class="button button-block" type="submit" translate>Request</button>
          </form>
        </div>




        <div id="login" [ngStyle]="{'display': isActive === true ? 'block' : 'none'}">
          <h1>Active Account</h1>
          <form (ngSubmit)="active()">
            <div class="field-wrap">
              <label [ngClass]="{active: email.value, highlight: email.value}">
                Email Address
                <span class="req">*</span>
              </label>
              <input [formControl]="email" type="email" required  pattern="/^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/" required />
            </div>
            <div class="field-wrap">
              <label [ngClass]="{active: code.value, highlight: code.value}">
                Code
                <span class="req">*</span>
              </label>
              <input [formControl]="code" type="text" required />
            </div>
            <button class="button button-block" type="submit">Active</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
