<div class="ms_content_wrapper padder_top80">
  <p translate>ListZonePlayAudio</p>
  <div class="btn btn-primary addHouse" data-toggle="modal" data-target="#exampleModal" >
      <span translate>AddZone</span> <i class="fa fa-plus" aria-hidden="true"></i>
  </div>
  <div class="listVung">
    <div class="col-lg-4 col-md-6 col-sm-12 padding_right40">
      <div class="ms_weekly_box">
        <div class="weekly_left">
          <div class="w_top_song">
            <div class="w_tp_song_img">
              <img src="../../../../assets/images/toa1.jpg" alt="" class="img-fluid">
              <div class="ms_song_overlay">
              </div>
              <div class="ms_play_icon">
                <img src="../../../../assets/images/svg/play.svg" alt="">
              </div>
            </div>
            <div class="w_tp_song_name">
              <h3><a [routerLink]='[("../zone-detail")]' >Zone 1</a></h3>
              <p>Quản lý: Nguyễn Văn A</p>
            </div>
          </div>
        </div>
      </div>
      <div class="ms_divider"></div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 padding_right40">
      <div class="ms_weekly_box">
        <div class="weekly_left">
          <div class="w_top_song">
            <div class="w_tp_song_img">
              <img src="../../../../assets/images/toa1.jpg" alt="" class="img-fluid">
              <div class="ms_song_overlay">
              </div>
              <div class="ms_play_icon">
                <img src="../../../../assets/images/svg/play.svg" alt="">
              </div>
            </div>
            <div class="w_tp_song_name">
              <h3><a href="index.html#">Tòa số 1</a></h3>
              <p>Quản lý: Nguyễn Văn A</p>
            </div>
          </div>
        </div>
      </div>
      <div class="ms_divider"></div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 padding_right40">
      <div class="ms_weekly_box">
        <div class="weekly_left">
          <div class="w_top_song">
            <div class="w_tp_song_img">
              <img src="../../../../assets/images/toa1.jpg" alt="" class="img-fluid">
              <div class="ms_song_overlay">
              </div>
              <div class="ms_play_icon">
                <img src="../../../../assets/images/svg/play.svg" alt="">
              </div>
            </div>
            <div class="w_tp_song_name">
              <h3><a href="index.html#">Tòa số 1</a></h3>
              <p>Quản lý: Nguyễn Văn A</p>
            </div>
          </div>
        </div>
      </div>
      <div class="ms_divider"></div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 padding_right40">
      <div class="ms_weekly_box">
        <div class="weekly_left">
          <div class="w_top_song">
            <div class="w_tp_song_img">
              <img src="../../../../assets/images/toa1.jpg" alt="" class="img-fluid">
              <div class="ms_song_overlay">
              </div>
              <div class="ms_play_icon">
                <img src="../../../../assets/images/svg/play.svg" alt="">
              </div>
            </div>
            <div class="w_tp_song_name">
              <h3><a href="index.html#">Tòa số 1</a></h3>
              <p>Quản lý: Nguyễn Văn A</p>
            </div>
          </div>
        </div>
      </div>
      <div class="ms_divider"></div>
    </div>
  </div>

</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Quét mã QR</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>
          <qr-code [value]="'All QR Code data goes here!'" [size]="150"></qr-code>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
      </div>
    </div>
  </div>
</div>
